@charset "UTF-8";

/*RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*GLOBAL*/

body {
  font-family: Arial, sans-serif;
  color: lightgray;
  background: linear-gradient(45deg, black, navy);
  background-attachment: fixed;
  line-height: 1.6;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

/*HEADER*/

.header {
  background: rgba(0, 123, 255, 0.18);
  padding: 1.5rem;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.header__nav {
  margin-top: 0.7rem;
}

.header__link {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
  font-weight: 600;
}

.header__link:hover {
  text-decoration: underline;
}

/*SOBRE MIM*/

.about {
  text-align: center;
  padding: 3rem 1rem;
}

.images__about {
  width: 200px;
  margin-top: 1rem;
  border-radius:50%;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 3px solid #fff;
}

/*PROJECTS*/

.projects {
  padding: 2.5rem 1rem;
  color: white;
  text-align: center;
}

.projects__grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

/*CARD ESTILO GLASSMORPHISM*/

.card {
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  padding: 35px 25px;
  box-shadow: 0 4px 15px rgba(0,0,0,.6);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  background: rgba(255,255,255,0.22);
  box-shadow: 0 8px 20px rgba(0,0,0,.7);
}

/*TEXTO REFLETINDO O BACKGROUND */
.card:hover * {
  background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/*IMAGENS DE PROJETOS*/

.images__skills {
  width: 240px;
  border-radius: 10px;
  margin: 1rem auto;
  display: block;
}

/*HABILIDADES*/

.skills {
  padding: 2.5rem 1rem;
  color: white;
  text-align: center;
}


.skills__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  text-align: center;
}

.list{
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  gap:1.2rem;
  padding: 20px 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,.6);
  transition: 0.3s ease;
  text-align: center;
  margin: 0 9rem;

}

.list:hover {
  transform: translateY(-6px);
  background: rgba(255,255,255,0.22);
  box-shadow: 0 8px 20px rgba(0,0,0,.7);
}

.skills__grid__images {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50%;
  margin-right: 50%;
  gap: 1rem;
  margin-top: 1.5rem;
  width:100px;
  display: block;
  margin: 0 auto;
}

/*FOOTER*/

.footer {
  padding: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  color: white;
  background: rgba(0,0,139,0.3);
  backdrop-filter: blur(6px);
}

.footer__link {
  color: white;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

/*RESPONSIVIDADE*/

@media (min-width: 768px) {
  .projects__grid {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    width: 300px;
  }
}
@media (min-width: 1024px){
  .card {
    width: 350px;
  }
}